
@{
    ViewBag.Title = "WebAppMvcModel1 -> ListItemView";
}
<hgroup>
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>

<section class="feature">
    <div>
        title: @Model.Title
    </div>
    <div>
        Item Entry: @Model.ListItemEntry
    </div>
    <div>
        Time Created: @Model.TimeCreated
    </div>
</section>
