<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        var uri = 'api/suppliers';
        var $sLC = $('#suppliers');
        $(document).ready(function () {
            // select the supplier list container
            $.getJSON(uri).done(function (data) {
                // empty the container
                $sLC.empty();
                var xs = '';
                //var zName = data.$values[0].CompanyName;
                //var zCity = data.$values[0]["City"];
                //var zCountry = data.$values[0]['Country'];
                //** data is an object, and $values is the array of suppliers
                // populate the container with each retrieved row
                for (var i = 0; i < data.$values.length; i++) {
                    xs += '<li> Name: ' + data.$values[i].CompanyName +
                        '; City: ' + data.$values[i].City +
                        '; Country: ' + data.$values[i].Country + '</li>';
                };
                $sLC.append(xs);
            })
            .fail(function (xhr, status, error) {
                $sLC.html('Error: ' + error);
            });
        });
    </script>
    <script>
        var uri = 'api/products';
        // select the product list container
        var $pC = $('#products');
        $(document).ready(function () {
            $.getJSON(uri).done(function (proddata) {
                // empty the container
                $pC.empty();
                var ys = '';
                // populate the container with each retrieved row
                for (var i = 0; i < proddata.$values.length; i++) {
                    ys += '<li> Name: ' + proddata.$values[i].Name +
                        '; Supplier: ' + proddata.$values[i].SupplierName + '</li>';
                };
                $pC.append(ys);
            })
            .fail(function (xhr, status, error) {
                $pC.html('Error: ' + error);
            });
        });
    </script>
    @*<script>
        var url = 'api/products';
        var xmlhttp;
        var elem, prodname, suppname
        // select the product list container
        var $pC = $('#products');
        // empty the container
        $pC.empty();
        if (window.XMLHttpRequest) {
            xmlhttp = new XMLHttpRequest();
            alert('XMLHttpRequest supported');
        }
        else {
            xmlhttp = new ActiveXObject('Microsoft.XMLHTTP');
        }
        if (xmlhttp.overrideMimeType) {
            xmlhttp.overrideMimeType('text/xml');
        }
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                elem = xmlhttp.responseXML.documentElement.getElementsByTagName("Product");
                var xc = '';
                for (var i = 0; i < elem.length; i++) {
                    prodname = elem[i].getElementsByTagName("Name");
                    suppname = elem[i].getElementsByTagName("SupplierName");
                    xc += '<li> Name: ' + prodname[0].firstChild.nodeValue
                        + '; Supplier: ' + suppname[0].firstChild.nodeValue
                        + '</li>';
                }
                $pC.append(xc);
            }
        }
        xmlhttp.open("GET", url, true);
        xmlhttp.send();
    </script>*@
</body>
</html>
