@{
    @* set page title using ViewBag *@
ViewBag.Title = "About Page - Using HTML helper to strip out html markup tags in the input";
string todayIs = "";
// get current date time
var currentDay = DateTime.UtcNow.DayOfWeek;
todayIs = "Today is " + currentDay + " and I think it's a nice day.";
var testString = "<div> <h3> some text inside a div and h3 tag</h3></div>";
var showPartial = Request["Show Partial"];
}

@helper myHtmlStrip(string htmlInput)
{ 
    @System.Text.RegularExpressions.Regex.Replace(htmlInput, "<.*?>", string.Empty);
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true);
        <div>
            @Html.Label("Full Name")
        </div>
        <div>
            @Html.TextBox("Full Name")
        </div>
        <div>
            @Html.Label("Destination")
        </div>
        <div>
            @Html.TextBox("Destination")
        </div>
        <input type="submit" value="Submit"/>
    }
    <!--
    <form action="" method="post">
        <p>
            <label for="fullname">Please enter your fullname:</label>
            <input type="text" name="fullname" />
        </p>
        <p>
            <label for="destination">Please enter your preferred destination.</label>
            <input type="text" name="destination" />
        </p>
        <input type="submit" value="Submit"/>
    </form>
    -->
        @{ 
        if (IsPost)
        {
            // get user input
            var userName = Request["Full Name"];
            var destn = Request["Destination"];
           <p>Hello @userName. You have selected @destn as your destination.</p>
            }
            else
            {
                <p>Hello Anonymous. You must use POST</p>
            }
        }
    <p>
        @todayIs
    </p>
    <p> @testString</p>
    <p> @myHtmlStrip(testString)</p>
    <p>
        Using Custom Stripper:
        @using WebApp_MVC.Helpers;
        @Html.customHTMLStripper(testString)
        <!-- note do not put ';' on the end of this line it will appear in the text output -->
    </p>
</article>
<article>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true);
        <div>
            @Html.Label("Show Partial")
        </div>
        <div>
            @Html.CheckBox("Show Partial")
        </div>
        <input type="submit" value="Submit" />
    }
</article>
<article>
    @if (showPartial != null && showPartial != "false")
    {
        @Html.Partial("_PartialPage1")
    }
</article>
<article>
    <p>Click inside to make the box appear and disappear:</p>
    <div id="paneContainer" onclick="togglePane()">
        <div id="pane"></div>
    </div>
</article>